.card{

    width: 220px;
    height: 180px;
    margin: 20px 10px;
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    cursor: pointer;

    .browser{
        background-color: lightgrey;
        width: 100%;
        height: 15px;
        display: flex;
        align-items: center;

        .circle{
            background-color: white;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            margin: 3px;
            
           
        }
    }

   


    .p-img{
        width: 100%;
        transition: all 10s ease;
    }

}   